<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Maintainance Page</title>
  </head>
  <body>
    <h1>Server Maintainance</h1>
    <p>
      Server is down due to maintainance.
    </p>
  </body>
</html>