<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Project Page</title>
  </head>
  <body>
    {{> header}}
    <h1>Projects Page</h1>
    <p>
      My Projects
      {{> footer}}
    </p>
  </body>
</html>